@page "/minresult"

<div class="container text-center">
    <h2 class="display-4">Explore Results of Parsing the Text Content</h2>
    <hr>
    <div class="row">
        <a class="btn btn-primary" href="/textcontent">Return to the Text Content Page</a>
    </div>
</div>
<hr>
<div class="container text-center">
    <h4 class="display-6">Minimum Entry Count of Text Words:</h4>
    <br>
    <h4 class="display-3">@DataStore.MinimumWordsCountInfo.Key</h4>
</div>
<hr>
<div class="container text-center">
    <h4 class="display-6">Look at the Text Words List Ordered By Ascending:</h4>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" style="color: white; background-color: black;">Count</th>
                <th scope="col" style="color: white; background-color: black;">Text Word</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<uint, List<string>> textWordInfo in @DataStore.WordsOrderedByAscending)
            {
                @foreach (string word in @textWordInfo.Value)
                {
                    <tr>
                        @if (@textWordInfo.Key == @DataStore.MinimumWordsCountInfo.Key)
                        {
                            <td style="background-color: lightgreen;">@textWordInfo.Key</td>
                            <td style="background-color: lightgreen;">@word</td>
                        }
                        else if (@textWordInfo.Key == @DataStore.MaximumWordsCountInfo.Key)
                        {
                            <td style="background-color: lightcoral;">@textWordInfo.Key</td>
                            <td style="background-color: lightcoral;">@word</td>
                        }
                        else
                        {
                            <td style="background-color: gray;">@textWordInfo.Key</td>
                            <td style="background-color: gray;">@word</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<hr>
<div class="row">
    <a class="btn btn-primary" href="/textcontent">Return to the Text Content Page</a>
</div>
